{% extends 'layout.html.twig' %}
{% block stylesheet %}{% endblock %}
{% block content %}

    <h2 class="result">Votre profil de monstre le plus proche est...</h2>
    <div class="result-opaque">
    <div class="result-titre"><h3>{{ result.name }}</h3></div>
            <ul class="result-content">
            <li><img src="{{ result.picture }}" alt="{{ result.name }}"></li>
            <li>{{ result.result }}texte</li></ul>
    </div>


{% endblock %}
