{% extends 'layout.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/children.css">{% endblock %}

{% block content %}
    <h1>Quel enfant enlèverais-tu en premier ?</h1>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <p class="children_head"></p>
    <div id="screamer">
        <iframe width="983" height="553" src="https://www.youtube.com/embed/0wG_h3U568w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <script src="/assets/JS/leavebritney.js"></script>
{% endblock %}
