{% extends 'layout.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/children.css">{% endblock %}

{% block content %}
    <h2>Quel enfant enlèverais-tu en premier ?</h2>
    <section id="childrenPic">
        <img src="/assets/images/enfants.jpg" alt="Les enfants ! c'est mignon !">
        <div id="victim1" class="children_head_girl"> </div>
        <div id="victim2" class="children_head_boy"> </div>
        <div id="victim3" class="children_head_boy"> </div>
        <div id="victim4" class="children_head_boy"> </div>
        <div id="victim5" class="children_head_girl"> </div>
        <div id="victim6" class="children_head_boy"> </div>
        <div id="victim7" class="children_head_girl"> </div>
        <div id="victim8" class="children_head_girl"> </div>
        <div id="victim9" class="children_head_girl"> </div>
        <div id="victim10" class="children_head_boy"> </div>
        <div id="victim11" class="children_head_boy"> </div>
        <div id="victim12" class="children_head_boy"> </div>
        <div id="victim13" class="children_head_girl"> </div>
        <div id="victim14" class="children_head_girl"> </div>
        <div id="victim15" class="children_head-girl"> </div>
        <a id="professor" href="/Result/index"> </a>
    </section>

    <div id="screamer_britney">
        <img src="/assets/images/leavebritney.gif" alt="">
    </div>

    <div id="screamer_kevin">
        <img src="/assets/images/tenor.gif" alt="">
    </div>

    <script src="/assets/JS/leavebritney.js"></script>
{% endblock %}
