{% extends 'layout.html.twig' %}

{% block content %}
    <div class="header">
        <img src="/assets/images/banniere.png" alt="">
        <h1>Quel monstre es tu ?</h1>
    </div>
    <div class="atrocité">
        <img src="/assets/images/machette.png" alt="">
        <h4>TESTE TON ATROCITE</h4>
    </div>

{% endblock %}
