h2{
    color : white;
    margin : 0;
    text-align : center;
    font-size : 2.5em;
    padding-top : 2%;
    letter-spacing: 4px;
}

#screamer_britney{
    display : none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

#screamer_kevin{
    display : none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

#screamer_britney.active{
    display: block;
}

#screamer_kevin.active{
    display: block;
}

#screamer_britney img{
    width: 100%;
    height: 100%;
}

#screamer_kevin img{
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
}



#childrenPic{
    max-width: 50%;
    width: max-content;
    margin: 50px auto;
    position : relative;
    box-shadow : 5px 5px 10px white;
    border-left : 2px black solid;
}

#childrenPic img{
    width: 100%;
}

#childrenPic div{
    width: 60px;
    height: 60px;
    z-index : 2;
    cursor : pointer;
    border : 1px yellow solid;
}


#victim1{
    position : absolute;
    left : 110px;
    top : 210px;
}

#victim2{
    position : absolute;
    left : 190px;
    top : 190px;
}

#victim3{
    position : absolute;
    left : 270px;
    top : 190px;
}

#victim4{
    position : absolute;
    left : 330px;
    top : 180px;
}

#victim5{
    position : absolute;
    left : 410px;
    top : 180px;
}

#victim6{
    position : absolute;
    left : 490px;
    top : 190px;
}

#victim7{
    position : absolute;
    left : 560px;
    top : 200px;
}

#victim8{
    position : absolute;
    left : 630px;
    top : 200px;
}

#victim9{
    position : absolute;
    left : 570px;
    top : 390px;
}

#victim10{
    position : absolute;
    left : 490px;
    top : 380px;
}

#victim11{
    position : absolute;
    left : 390px;
    top : 370px;
}

#victim12{
    position : absolute;
    left : 310px;
    top : 370px;
}

#victim13{
    position : absolute;
    left : 220px;
    top : 380px;
}

#victim14{
    position : absolute;
    left : 150px;
    top : 380px;
}

#victim15{
    position : absolute;
    left : 80px;
    top : 380px;
}

#professor{
    position : absolute;
    display : block;
    border : 1px yellow solid;
    left : 600px;
    top : 100px;
    width: 60px;
    height: 60px;
    cursor : pointer;
}