*{
    padding: 0;
    margin: O;
    box-sizing: border-box;
}

.pagecontainer{
    width: 100vw;
    padding: 20px 15%;
    height: 100vh;
    overflow: hidden;
}
h1{
    color: white;
    font-size: 35px;
}

#conteneur{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

article{
    width: 36%;
}

img{
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 5%;
    transform: scale(0.95);

}
img:hover{
    transform: scale(1);
}
.filter {
    position: relative;
    -webkit-filter: contrast(140%) sepia(50%);
    filter: contrast(140%) sepia(50%);
}
.filter::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: lighten;
    background: rgba(161, 44, 199, 0.31);
}
p{
    color: white;
    text-align: justify-all;
    font-size: 15px;
    margin-left: 10px;

}