{% extends 'layout.html.twig' %}
{% block title %}{% endblock %}


{% block stylesheet %}

    <link rel="stylesheet" href="../assets/css/styletues.css">

{% endblock %}

{% block content %}

    <h1>Tu es plus : </h1>

    <section>
        <div id="conteneur">
        <article>
                <a href="/quizz/show/2">
            <img class="filter" src="../assets/images/slender.jpg" alt="The slenderman">
                </a>
            <p>Créature maléfique aimant se promener en forêt main dans la main avec de jeunes enfants </p>
        </article>
        <article>
                 <a href="/quizz/show/2">
            <img class="filter" src="../assets/images/momocha.png" alt="Momo challenge">
                </a>
            <p>Teenage challenge sans intérêt</p>
        </article>
        <article>
            <a href="/quizz/show/2">
                <img class="filter" id="laugh_clown" src="../assets/images/ca.jpg" alt="Clown">
            </a>
            <p> clown dépréssif ayant un passé compliqué avec sa mère et les enfants du village !</p>
        </article>
        <article>
            <a href="/quizz/show/2">
            <img class="filter" src="../assets/images/feu.jpg" alt="Petite fille devant maison feu">
            </a>
            <p> Petite fille qui aime brûler des maisons</p>

        </article>
        </div>
    </section>

{% endblock %}