{% extends 'layout.html.twig' %}
{% block title %}<title> Quel monstre es-tu?</title>{% endblock %}


{% block stylesheet %}

    <link rel="stylesheet" href="../assets/css/styletues.css">

{% endblock %}

{% block content %}

    <h1>Tu es plus : </h1>

    <section>
        <article>
            <img src="../assets/images/slender.jpg" alt="The slenderman">
            <p>Créature maléfique aimant se promener en forêt main dans la main avec de jeunes enfants </p>
        </article>
        <article>
            <img src="../assets/images/momocha.png" alt="Momo challenge">
            <p>Un teenage challenge sans intérêt</p>
        </article>
        <article>
            <img src="../assets/images/ca.jpg" alt="Clown">
            <p> clown dépréssif ayant un passé compliqué avec sa mère et les enfants du villages!</p>
        </article>
        <article>
            <img src="../assets/images/feu.jpg" alt="Petite fille devant maison feu">
            <p> Petite fille qui aime bruler des maisons</p>
        </article>
    </section>


{% endblock %}