{% extends 'layout.html.twig' %}

{% block title %}Où es Freddy ?{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/freddy.css">{% endblock %}

{% block content %}
    <h1>Mais où es Freddy ?</h1>
    <section id="freddy">
        <img src="/assets/images/48-Where's-Wally-WALKER-BOOKS.jpg/" alt="">
    </section>

    <div id="screamer_freddy">
        <img src="/assets/images/freddy.gif" alt="">
    </div>

    <script src="/assets/JS/screamerfreddy.js"></script>
{% endblock %}