{% extends 'layout.html.twig' %}

{% block title %}Où es Freddy ?{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/freddy.css">{% endblock %}

{% block content %}
<div class="Freddy">
    <h1>Mais où es Freddy ?</h1>
    <img src="/assets/images/48-Where's-Wally-WALKER-BOOKS.jpg/" alt="">
</div>
{% endblock %}